@charset "utf-8";
/* CSS Document */
#menu{
	position:relative;
	width:100%;
	height:47px;
	background: #b7d84b;
}
#menu a:hover {
	background: #326000;
	color: #FFFFFF;
}
#menu a {
	display: block;
	float: left;
	padding: 15px 30px 16px 30px;
	letter-spacing: -1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #44accf;
}
#content{
	position:relative;
	left:0px;
	text-align:left;
	width:100%;
	background:#FBFAF4;
}
#content table{
	background:#FBFAF4;
	width: 100%;
}
#add{
	position:absolute;
	left:0px;
}
#error{
	position:relative;
	left:0px;
	display: block;
	float: left;
	padding: 15px 30px 16px 30px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #E82030;	
}
#add a {
	display: block;
	float: left;
	padding: 15px 30px 16px 30px;
	letter-spacing: -1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #44accf;
}